*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: #d5d5d5;
}
.card{
    width:90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color:#fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.search{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.search input{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border:0;
    outline:0;
    background:#ebfffc;
    color:#555;
    padding:10px 25px;
    height:60px;
    border-radius: 18px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
    border:0;
    outline:0;
    background:#ebfffc;
    border-radius:20%;
    width:60px;
    height:60px;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search button img{
    width:18px;
}
.weather-icon{
    width:170px;
    margin-top:30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top:-10px;
}
.details {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top:50px;
}
.col{
    display:flex;
    align-items: center;
    text-align: left;
}
.col img{
    width:40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size:28px;
    margin-top:-6px;
}
.weather{
    display: none;
}
.error{
    font-family: 'Ubuntu', sans-serif;
    font-size:25px;
    text-align:center;
    margin-top:15px;
    padding-right:48px;
    color: #ffffff;
    display:none;
    border-radius: 10px;
    opacity: 0.9;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.time{
    margin-top:-20px;
    margin-bottom:15px;
    display:none;
}